<a href="https://colab.research.google.com/github/yagnaganesh/ML/blob/main/BCGintern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install notebook

Requirement already satisfied: notebook in /usr/local/lib/python3.11/dist-packages (6.5.7)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from notebook) (3.1.6)
Requirement already satisfied: tornado>=6.1 in /usr/local/lib/python3.11/dist-packages (from notebook) (6.4.2)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.11/dist-packages (from notebook) (24.0.1)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.11/dist-packages (from notebook) (23.1.0)
Requirement already satisfied: traitlets>=4.2.1 in /usr/local/lib/python3.11/dist-packages (from notebook) (5.7.1)
Requirement already satisfied: jupyter-core>=4.6.1 in /usr/local/lib/python3.11/dist-packages (from notebook) (5.7.2)
Requirement already satisfied: jupyter-client<8,>=5.3.4 in /usr/local/lib/python3.11/dist-packages (from notebook) (6.1.12)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from notebook) (0.2.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.11/dist-packages (from notebook) (5.10.4)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.11/dist-packages (from notebook) (7.16.6)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.11/dist-packages (from notebook) (1.6.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.11/dist-packages (from notebook) (6.17.1)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.11/dist-packages (from notebook) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.11/dist-packages (from notebook) (0.18.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.11/dist-packages (from notebook) (0.21.1)
Requirement already satisfied: nbclassic>=0.4.7 in /usr/local/lib/python3.11/dist-packages (from notebook) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.11/dist-packages (from jupyter-client<8,>=5.3.4->notebook) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.11/dist-packages (from jupyter-core>=4.6.1->notebook) (4.3.8)
Requirement already satisfied: notebook-shim>=0.2.3 in /usr/local/lib/python3.11/dist-packages (from nbclassic>=0.4.7->notebook) (0.2.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (4.13.4)
Requirement already satisfied: bleach!=5.0.0 in /usr/local/lib/python3.11/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook) (6.2.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (3.0.2)
Requirement already satisfied: mistune<4,>=2.0.3 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (3.1.3)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (0.10.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (24.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (1.5.1)
Requirement already satisfied: pygments>=2.4.1 in /usr/local/lib/python3.11/dist-packages (from nbconvert>=5->notebook) (2.19.1)
Requirement already satisfied: fastjsonschema>=2.15 in /usr/local/lib/python3.11/dist-packages (from nbformat->notebook) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.11/dist-packages (from nbformat->notebook) (4.23.0)
Requirement already satisfied: ptyprocess in /usr/local/lib/python3.11/dist-packages (from terminado>=0.8.3->notebook) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.11/dist-packages (from argon2-cffi->notebook) (21.2.0)
Requirement already satisfied: debugpy>=1.0 in /usr/local/lib/python3.11/dist-packages (from ipykernel->notebook) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in /usr/local/lib/python3.11/dist-packages (from ipykernel->notebook) (7.34.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /usr/local/lib/python3.11/dist-packages (from ipykernel->notebook) (0.1.7)
Requirement already satisfied: psutil in /usr/local/lib/python3.11/dist-packages (from ipykernel->notebook) (5.9.5)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from bleach!=5.0.0->bleach[css]!=5.0.0->nbconvert>=5->notebook) (0.5.1)
Requirement already satisfied: tinycss2<1.5,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from bleach[css]!=5.0.0->nbconvert>=5->notebook) (1.4.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython>=7.23.1->ipykernel->notebook) (75.2.0)
Collecting jedi>=0.16 (from ipython>=7.23.1->ipykernel->notebook)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython>=7.23.1->ipykernel->notebook) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython>=7.23.1->ipykernel->notebook) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython>=7.23.1->ipykernel->notebook) (3.0.51)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython>=7.23.1->ipykernel->notebook) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython>=7.23.1->ipykernel->notebook) (4.9.0)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=2.6->nbformat->notebook) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=2.6->nbformat->notebook) (2025.4.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=2.6->nbformat->notebook) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=2.6->nbformat->notebook) (0.24.0)
Requirement already satisfied: jupyter-server<3,>=1.8 in /usr/local/lib/python3.11/dist-packages (from notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook) (1.16.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.1->jupyter-client<8,>=5.3.4->notebook) (1.17.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook) (1.17.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->nbconvert>=5->notebook) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4->nbconvert>=5->notebook) (4.13.2)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook) (2.22)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->notebook) (0.8.4)
Requirement already satisfied: anyio>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook) (4.9.0)
Requirement already satisfied: websocket-client in /usr/local/lib/python3.11/dist-packages (from jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook) (1.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.23.1->ipykernel->notebook) (0.2.13)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio>=3.1.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio>=3.1.0->jupyter-server<3,>=1.8->notebook-shim>=0.2.3->nbclassic>=0.4.7->notebook) (1.3.1)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 12.6 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [88]:
df=pd.read_csv('Balsheet.csv')

In [89]:
print(df.head(10))

     Company Total Revenue Net Income Total Assets Total Liabilities  \
0      Apple      $391,035    $93,736     $364,980          $290,437
1      Apple      $383,285    $96,995     $352,583          $279,414
2      Apple      $394,328    $99,803     $352,755         $291,034*
3  Microsoft     $236,589*   $84,000*     $512,163         $225,071*
4  Microsoft      $211,915    $72,361     $411,976          $205,753
5  Microsoft      $198,270    $72,738     $364,840         $169,638*
6      Tesla       $97,690    $8,400*     $122,070          $58,359*
7      Tesla       $96,773    $14,997     $106,618           $50,580
8      Tesla       $81,462    $12,583      $82,338           $45,860
9        NaN           NaN        NaN          NaN               NaN

  Cash Flow from Operations  Unnamed: 6
0                  $118,254         NaN
1                  $110,543         NaN
2                  $122,151         NaN
3                 $109,796*         NaN
4                   $89,035         NaN
5                   $89,035         NaN
6                   $14,900         NaN
7                   $14,716         NaN
8                   $11,540         NaN
9                       NaN         NaN

In [90]:
df=df.drop('Unnamed: 6',axis=1)
d=list(range(9,22))
df=df.drop(index=d)
for col in df.columns:
  print(col)
  df[col]=df[col].str.replace('*','',regex=False)
print(df)

Company
Total Revenue
Net Income
Total Assets
Total Liabilities
Cash Flow from Operations
     Company Total Revenue Net Income Total Assets Total Liabilities  \
0      Apple      $391,035    $93,736     $364,980          $290,437
1      Apple      $383,285    $96,995     $352,583          $279,414
2      Apple      $394,328    $99,803     $352,755          $291,034
3  Microsoft      $236,589    $84,000     $512,163          $225,071
4  Microsoft      $211,915    $72,361     $411,976          $205,753
5  Microsoft      $198,270    $72,738     $364,840          $169,638
6      Tesla       $97,690     $8,400     $122,070           $58,359
7      Tesla       $96,773    $14,997     $106,618           $50,580
8      Tesla       $81,462    $12,583      $82,338           $45,860

  Cash Flow from Operations
0                  $118,254
1                  $110,543
2                  $122,151
3                  $109,796
4                   $89,035
5                   $89,035
6                   $14,900
7                   $14,716
8                   $11,540

In [91]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [92]:
import pandas as pd

# List of columns to clean and convert
cols_to_clean = ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow from Operations']

for col in cols_to_clean:
    if col in df.columns:
        # Ensure the column is string type first to apply string methods
        df[col] = df[col].astype(str)

        # Remove '$', ',', and any leading/trailing whitespace
        df[col] = df[col].str.replace('$', '', regex=False)
        df[col] = df[col].str.replace(',', '', regex=False)
        df[col] = df[col].str.strip() # Remove any leading/trailing whitespace

        # Convert to numeric, coercing errors
        df[col] = pd.to_numeric(df[col], errors='coerce')

# Check the data types of the columns after cleaning and conversion
print(df[cols_to_clean].dtypes)

# Now attempt to calculate the growth percentages
# Ensure there are no NaN values in 'Total Revenue' or 'Net Income' before calculating growth
# You might need to handle NaNs appropriately (e.g., fill with 0 or drop rows)
# For now, let's assume you want to calculate growth where possible

df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

print(df)

Total Revenue                int64
Net Income                   int64
Total Assets                 int64
Total Liabilities            int64
Cash Flow from Operations    int64
dtype: object
     Company  Total Revenue  Net Income  Total Assets  Total Liabilities  \
0      Apple         391035       93736        364980             290437
1      Apple         383285       96995        352583             279414
2      Apple         394328       99803        352755             291034
3  Microsoft         236589       84000        512163             225071
4  Microsoft         211915       72361        411976             205753
5  Microsoft         198270       72738        364840             169638
6      Tesla          97690        8400        122070              58359
7      Tesla          96773       14997        106618              50580
8      Tesla          81462       12583         82338              45860

   Cash Flow from Operations  Revenue Growth (%)  Net Income Growth (%)
0                     118254                 NaN                    NaN
1                     110543           -1.981920               3.476786
2                     122151            2.881146               2.894995
3                     109796                 NaN                    NaN
4                      89035          -10.429056             -13.855952
5                      89035           -6.438902               0.520999
6                      14900                 NaN                    NaN
7                      14716           -0.938684              78.535714
8                      11540          -15.821562             -16.096553

In [93]:
print(df)

     Company  Total Revenue  Net Income  Total Assets  Total Liabilities  \
0      Apple         391035       93736        364980             290437
1      Apple         383285       96995        352583             279414
2      Apple         394328       99803        352755             291034
3  Microsoft         236589       84000        512163             225071
4  Microsoft         211915       72361        411976             205753
5  Microsoft         198270       72738        364840             169638
6      Tesla          97690        8400        122070              58359
7      Tesla          96773       14997        106618              50580
8      Tesla          81462       12583         82338              45860

   Cash Flow from Operations  Revenue Growth (%)  Net Income Growth (%)
0                     118254                 NaN                    NaN
1                     110543           -1.981920               3.476786
2                     122151            2.881146               2.894995
3                     109796                 NaN                    NaN
4                      89035          -10.429056             -13.855952
5                      89035           -6.438902               0.520999
6                      14900                 NaN                    NaN
7                      14716           -0.938684              78.535714
8                      11540          -15.821562             -16.096553