In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
import os

In [5]:
print(os.getcwd())

/Users/yagnaganesh/Desktop/Python_ML/Linear Regression

In [7]:
df = pd.read_csv('data.csv')

In [9]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [17]:
corr_matrix=df.corr()
print(corr_matrix)

                  price  bedrooms  bathrooms  sqft_living  sqft_lot    floors  \
price          1.000000  0.200336   0.327110     0.430410  0.050451  0.151461
bedrooms       0.200336  1.000000   0.545920     0.594884  0.068819  0.177895
bathrooms      0.327110  0.545920   1.000000     0.761154  0.107837  0.486428
sqft_living    0.430410  0.594884   0.761154     1.000000  0.210538  0.344850
sqft_lot       0.050451  0.068819   0.107837     0.210538  1.000000  0.003750
floors         0.151461  0.177895   0.486428     0.344850  0.003750  1.000000
waterfront     0.135648 -0.003483   0.076232     0.117616  0.017241  0.022024
view           0.228504  0.111028   0.211960     0.311009  0.073907  0.031211
condition      0.034915  0.025080  -0.119994    -0.062826  0.000558 -0.275013
sqft_above     0.367570  0.484705   0.689918     0.876443  0.216455  0.522814
sqft_basement  0.210427  0.334165   0.298020     0.447206  0.034842 -0.255510
yr_built       0.021857  0.142461   0.463498     0.287775  0.050706  0.467481
yr_renovated  -0.028774 -0.061082  -0.215886    -0.122817 -0.022730 -0.233996

               waterfront      view  condition  sqft_above  sqft_basement  \
price            0.135648  0.228504   0.034915    0.367570       0.210427
bedrooms        -0.003483  0.111028   0.025080    0.484705       0.334165
bathrooms        0.076232  0.211960  -0.119994    0.689918       0.298020
sqft_living      0.117616  0.311009  -0.062826    0.876443       0.447206
sqft_lot         0.017241  0.073907   0.000558    0.216455       0.034842
floors           0.022024  0.031211  -0.275013    0.522814      -0.255510
waterfront       1.000000  0.360935   0.000352    0.078911       0.097501
view             0.360935  1.000000   0.063077    0.174327       0.321602
condition        0.000352  0.063077   1.000000   -0.178196       0.200632
sqft_above       0.078911  0.174327  -0.178196    1.000000      -0.038723
sqft_basement    0.097501  0.321602   0.200632   -0.038723       1.000000
yr_built        -0.023563 -0.064465  -0.399698    0.408535      -0.161675
yr_renovated     0.008625  0.022967  -0.186818   -0.160426       0.043125

               yr_built  yr_renovated
price          0.021857     -0.028774
bedrooms       0.142461     -0.061082
bathrooms      0.463498     -0.215886
sqft_living    0.287775     -0.122817
sqft_lot       0.050706     -0.022730
floors         0.467481     -0.233996
waterfront    -0.023563      0.008625
view          -0.064465      0.022967
condition     -0.399698     -0.186818
sqft_above     0.408535     -0.160426
sqft_basement -0.161675      0.043125
yr_built       1.000000     -0.321342
yr_renovated  -0.321342      1.000000

/var/folders/1q/wlxnbkbn735gg2_n58kw8c4c0000gn/T/ipykernel_90450/2704954590.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix=df.corr()

In [25]:
sc=['price','sqft_living','sqft_above']
new_df=df[sc]

In [26]:
new_df.head()

       price  sqft_living  sqft_above
0   313000.0         1340        1340
1  2384000.0         3650        3370
2   342000.0         1930        1930
3   420000.0         2000        1000
4   550000.0         1940        1140

In [27]:
cm=new_df.corr()
print(cm)

               price  sqft_living  sqft_above
price        1.00000     0.430410    0.367570
sqft_living  0.43041     1.000000    0.876443
sqft_above   0.36757     0.876443    1.000000

In [ ]:
# y= t0+t1*sqft_living+t2*sqft_above
# y is the predicted price
# t0 is the bias (intercept)
# t1,t2 are weights (slopes)
# sqft_living, sqft_above are input features

In [38]:
X=new_df[['sqft_living','sqft_above']].values
Y=new_df['price'].values

In [39]:
import numpy as np
# add ones col for bias term t0
X = np.c_[np.ones((X.shape[0], 1)), X]

In [40]:
xt_x=np.zeros((X.shape[1],X.shape[1]))
for i in range(X.shape[1]):
    for j in range(X.shape[1]):
        xt_x[i,j]=sum(X[:,i]*X[:,j])

In [44]:
xt_y=np.zeros((X.shape[1],1))
for i in range(X.shape[1]):
    xt_y[i,0]=sum(X[:,i]*Y)

In [45]:
xt_x_inv=np.linalg.inv(xt_x)

In [46]:
theta=np.zeros((X.shape[1],1))
for i in range(X.shape[1]):
    for j in range(X.shape[1]):
        theta[i,0]+=xt_x_inv[i,j]*xt_y[j,0]

In [49]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=.20,random_state=42)

In [50]:
def predict(X, theta):
    y_pred = np.zeros((X.shape[0], 1))
    for i in range(X.shape[0]):
        for j in range(X.shape[1]):
            y_pred[i, 0] += X[i, j] * theta[j, 0]
    return y_pred


y_pred = predict(xtest, theta)

In [52]:
mse = np.mean((ytest - y_pred.flatten())**2)

print("Mean Squared Error (MSE):", mse)

Mean Squared Error (MSE): 987989284435.9568

In [54]:
from sklearn.metrics import r2_score

r2 = r2_score(ytest, y_pred)

print("Test R² Score:", r2)

Test R² Score: 0.03123711327755674